---
repos:
    - repo: https://github.com/doublify/pre-commit-rust
      rev: v1.0
      hooks:
          - id: fmt
          - id: cargo-check
          - id: clippy
            args: [--fix, --allow-staged]
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.6.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files
    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt
            name: format YAML
            args: [--mapping, '4', --sequence, '6', --offset, '4']
    - repo: local
      hooks:
          - id: generate-sqlx-data
            name: Generate SQLx offline data
            entry: just prepare-offline
            language: system
            pass_filenames: false
            files: ^(src/.*\.rs|migrations/.*/.*\.sql|Cargo\.(toml|lock))$
            stages: [commit]
